.notification {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1050; // Ensure it appears above other content
    margin-bottom: 16px;
  
    &.success {
      background-color: #d4edda; // Background for success type
      color: #155724; // Text color for success type
    }
  
    &.error {
      background-color: #f8d7da; // Default background for error type
      color: #721c24; // Default text color for error type
    }
  
    &.show {
      opacity: 1;
      visibility: visible;
    }

    position: relative; // Ensure the progress bar is positioned relative to the notification

  .progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: darken($color: #d4edda, $amount: 15%); // Darken the success background color for the progress bar
    transition: width 3s linear; // Match the duration with the visibility timer
  }

  &.error .progressBar {
    background-color: darken($color: #f8d7da, $amount: 15%); // Darken the error background color for the progress bar
  }
  }