@use "sass:color";

.notification {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1050;
    margin-bottom: 16px;
  
    &.success {
      background-color: #d4edda;
      color: #155724;
    }
  
    &.error {
      background-color: #f8d7da;
      color: #721c24;
    }
  
    &.show {
      opacity: 1;
      visibility: visible;
    }

    position: relative;

  .progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: color.adjust(#d4edda, $lightness: -15%);
    transition: width 3s linear;
  }

  &.error .progressBar {
    background-color: color.adjust(#f8d7da, $lightness: -15%);
  }
  }